<!-- Section Header -->
<div class="section-header">
    <div class="container">

        <!-- Section Header - Title -->
        <div class="section-header-title" [innerHTML]="sectionHeaderTitleInnerHTML">
            <!-- Ejemplo: <h2 class="heading-3">Featured</h2> -->
            <!-- Ejemplo: <h2 class="heading-4">Deals</h2> -->
        </div>
        
        <!-- Section Header - Right Side -->
        <div class="section-header-right-side-container">
            
            <!-- Section Header - Carousel Icons -->
            <div class="section-header-carousel-icons" *ngIf="sectionHeaderCarouselIcons">

                <div class="section-header-carousel-chevron-left-icon">
                    <svg-icon name="chevron-left"></svg-icon>
                </div>

                <div class="section-header-carousel-chevron-right-icon">
                    <svg-icon name="chevron-right"></svg-icon>
                </div>

            </div>

            <!-- Section Header - Link -->
            <div class="section-header-link-container" *ngIf="sectionHeaderLink && (numberOfOrders > 0)">
                <!-- <a [routerLink]="['/slug']">{{sectionHeaderLinkText}}</a> -->
                <a routerLink="{{sectionHeaderLinkURL}}">{{sectionHeaderLinkText}}</a> <!-- Ejemplo: View All -->
            </div>

            <!-- Section Header - Button -->
            <div class="section-header-button-container" *ngIf="sectionHeaderButton">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="router.navigate([sectionHeaderButtonURL]);">

                    <!-- <span class="navigation-button-icon navigation-button-icon-left navigation-button-left--left-icon">

                    </span> -->

                    <span class="navigation-button-left--text">{{sectionHeaderButtonText}}</span> <!-- Ejemplo: Edit -->

                    <!-- <span class="navigation-button-icon navigation-button-icon-right navigation-button-left--right-icon"> -->
                        <!-- <svg-icon name="plus"></svg-icon>
                    </span> -->
                    
                </button>
            </div>

        </div>

    </div>
</div>