// Featured Product Carousel
.featured-products-carrousel > .container {
    display: flex;
    gap: var(--space-between-cards);

    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.featured-products-carrousel > .container::-webkit-scrollbar {
    display: none;
}
