<!-- Products Grid -->
<div class="products-grid">

    <app-product-card
        [productCardTypeClass] = "'product-card-small'"
        ></app-product-card>
        <!-- [productCardURL]       = "'/product'" -->

    <app-product-card
        [productCardTypeClass] = "'product-card-small'"
        ></app-product-card>
        <!-- [productCardURL]       = "'/product'" -->

    <app-product-card
        [productCardTypeClass] = "'product-card-small'"
        ></app-product-card>
        <!-- [productCardURL]       = "'/product'" -->

    <app-product-card
        [productCardTypeClass] = "'product-card-small'"
        ></app-product-card>
        <!-- [productCardURL]       = "'/product'" -->

</div>