<!-- Orders Page -->



<!-- Header Tag -->
<app-header
    [headerTagType] = "'overlay-header-subpage'"
    [overlayHeaderPageTitle] = "'Orders'"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: var(--espacio-vertical);">
<!-- <main role="main" style="padding-bottom: calc(var(--footer-altura-sin-navigation-ctas-and-copy) + var(--espacio-vertical));"> -->

    <div class="illustration-and-content-container">

        <div class="illustration-container" *ngIf="(activeOrders.length == 0) && (previousOrders.length == 0)">

            <!-- No Orders Informative Card -->
            <app-informative-card></app-informative-card>

        </div>

        <div *ngIf="(activeOrders.length > 0) && (previousOrders.length > 0)" [ngClass]="{ 'content-container': ((activeOrders.length == 0) && (previousOrders.length == 0)) }">

            <!-- Active & Previous Orders -->
            <div>
                    
                <div class="section section-with-bottom-separator">

                    <!-- Section Header -->
                    <app-section-header
                        [sectionHeaderTitleTag]     = "'h2'"
                        [sectionHeaderTitleClasses] = "'heading-4'"
                        [sectionHeaderTitleText]    = "'Active orders'"
                    ></app-section-header>

                    <div class="container">
                            
                        <!-- Active Orders List -->
                        <div class="orders-list">

                            <!-- Product Card -->
                            <app-product-card
                                *ngFor="let activeOrder of activeOrders"
                                [productCardTypeClass] = "'product-card-order'"
                                [orderId]              = "activeOrder.id"
                                [orderImageThumbnail]  = "activeOrder.imageThumbnail"
                                [orderImageWidth]      = "activeOrder.imageWidth"
                                [orderImageHeight]     = "activeOrder.imageHeight"
                                [orderTotal]           = "activeOrder.orderTotal"
                                [orderArrivalDate]     = "activeOrder.deliveryFullDate"
                            ></app-product-card>

                        </div>

                    </div>

                </div>

                <div class="section">

                    <!-- Section Header -->
                    <app-section-header
                        [sectionHeaderTitleTag]     = "'h2'"
                        [sectionHeaderTitleClasses] = "'heading-4'"
                        [sectionHeaderTitleText]    = "'Previous orders'"
                    ></app-section-header>

                    <div class="container">
                            
                        <!-- Previous Orders List -->
                        <div class="orders-list">

                            <!-- Product Card -->
                            <app-product-card
                                *ngFor="let previousOrder of previousOrders"
                                [productCardTypeClass] = "'product-card-order'"
                                [orderId]              = "previousOrder.id"
                                [orderImageThumbnail]  = "previousOrder.imageThumbnail"
                                [orderImageWidth]      = "previousOrder.imageWidth"
                                [orderImageHeight]     = "previousOrder.imageHeight"
                                [orderTotal]           = "previousOrder.orderTotal"
                                [orderArrivalDate]     = "previousOrder.deliveryFullDate"
                            ></app-product-card>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer></app-footer>