<!-- Orders Page -->



<!-- Header Tag -->
<app-header
    [headerTagType] = "'overlay-header-subpage'"
    [overlayHeaderPageTitle] = "'Orders'"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(87px + var(--espacio-vertical));">

    <div class="illustration-and-content-container">

        <div class="illustration-container" *ngIf="(numberOfOrders == 0)">

            <!-- No Orders Informative Card -->
            <app-informative-card></app-informative-card>

        </div>

        <div *ngIf="(numberOfOrders > 0)" [ngClass]="{ 'content-container': (numberOfOrders == 0) }">

            <!-- Active & Previous Orders -->
            <div>
                    
                <div class="section section-with-bottom-separator">

                    <!-- Section Header -->
                    <app-section-header
                        [sectionHeaderTitleTag]      = "'h2'"
                        [sectionHeaderTitleClass]    = "'heading-4'"
                        [sectionHeaderTitleText]     = "'Active orders'"
                    ></app-section-header>

                    <div class="container">
                            
                        <!-- Active Orders List -->
                        <div class="orders-list">

                            <!-- Product Card -->
                            <app-product-card
                                [productCardTypeClass] = "'product-card-order'"
                                [productCardURL]       = "'/order/1'"
                            ></app-product-card>

                            <!-- Product Card -->
                            <app-product-card
                                [productCardTypeClass] = "'product-card-order'"
                                [productCardURL]       = "'/order/1'"
                            ></app-product-card>

                        </div>

                    </div>

                </div>

                <div class="section">

                    <!-- Section Header -->
                    <app-section-header
                        [sectionHeaderTitleTag]      = "'h2'"
                        [sectionHeaderTitleClass]    = "'heading-4'"
                        [sectionHeaderTitleText]     = "'Previous orders'"
                    ></app-section-header>

                    <div class="container">
                            
                        <!-- Previous Orders List -->
                        <div class="orders-list">

                            <!-- Product Card -->
                            <app-product-card
                                [productCardTypeClass] = "'product-card-order'"
                                [productCardURL]       = "'/order/1'"
                            ></app-product-card>

                            <!-- Product Card -->
                            <app-product-card
                                [productCardTypeClass] = "'product-card-order'"
                                [productCardURL]       = "'/order/1'"
                            ></app-product-card>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer></app-footer>