<!-- Informative Card -->
<div class="informative-card">
    
    <!-- Informative Card - Image Container -->
    <div class="informative-card--image-container">
        <svg-icon name="no-orders"></svg-icon>
    </div>
    
    <!-- Informative Card - Copy Container -->
    <div class="informative-card--copy-container">
        
        <!-- Informative Card - Headline Container -->
        <div class="informative-card--headline-container">
            <div style="max-width: 210px;">Not a single order in sight...</div>
        </div>
        
        <!-- Informative Card - Content Container -->
        <div class="informative-card--content-container">
            <p class="mb-0">You have no orders at the moment.</p>
            <p class="mb-0">Go take a look at what we have an we'll get your delivery to you asap!</p>
        </div>

    </div>

    <!-- Informative Card - Button Container -->
    <div class="informative-card--button-container">
        <a class="btn btn-light" routerLink="/home">View recommended products</a>
    </div>

</div>