<!-- Account Page -->



<!-- Header Tag -->
<app-header
    [headerTagType] = "'overlay-header-main-page'"
    [overlayHeaderPageTitle] = "'My Account'"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(var(--footer-altura-sin-navigation-ctas-and-copy) + var(--espacio-vertical));">

    <!-- Profile Information Container -->
    <div class="section section-with-bottom-separator">
        <div class="profile-information-container container">
            
            <!-- Profile Information Container - Name and Email -->
            <div class="profile-information-container--name-and-email-container">
                
                <!-- Profile Information Container - Name -->
                <div class="profile-information-container--name-container">
                    <h2>Leslie Flores</h2>
                </div>
                
                <!-- Profile Information Container - Email -->
                <div class="profile-information-container--email-container">
                    <div class="profile-information-container--email">leslieflores@gmail.com</div>
                </div>
                
            </div>
            
            <!-- Profile Information Container - Button -->
            <div class="profile-information-container--button-container">
                <button type="button" class="btn btn-outline-secondary btn-lg">

                    <!-- <span class="navigation-button-icon navigation-button-icon-left navigation-button-left--left-icon">

                    </span> -->

                    <span class="navigation-button-left--text">Log out</span>

                    <!-- <span class="navigation-button-icon navigation-button-icon-right navigation-button-left--right-icon"> -->
                        <!-- <svg-icon name="plus"></svg-icon>
                    </span> -->

                </button>
            </div>

        </div>
    </div>

    <!-- Account -->
    <div class="section section-with-bottom-separator">

        <!-- Section Header -->
        <app-section-header
            [sectionHeaderTitleTag]      = "'h2'"
            [sectionHeaderTitleClass]    = "'heading-4'"
            [sectionHeaderTitleText]     = "'Account'"
        ></app-section-header>

        <!-- Account Card List -->
        <div class="account-card-list container">

            <!-- Account Card -->
            <app-account-card
                [accountCardTitle] = "'Orders'"
                [accountCardURL]   = "'/orders'"
            ></app-account-card>

            <!-- Account Card -->
            <app-account-card
                [accountCardTitle] = "'Addresses'"
                [accountCardURL]   = "'/addresses'"
            ></app-account-card>

            <!-- Account Card -->
            <app-account-card
                [accountCardTitle] = "'Payment Methods'"
                [accountCardURL]   = "'/payment-methods'"
            ></app-account-card>

        </div>

    </div>

    <!-- Active Orders -->
    <div class="section">

        <!-- Section Header -->
        <app-section-header
            [sectionHeaderTitleTag]      = "'h2'"
            [sectionHeaderTitleClass]    = "'heading-4'"
            [sectionHeaderTitleText]     = "'Active Orders'"
            [sectionHeaderLink]          = "true"
            [sectionHeaderLinkURL]       = "'/orders'"
            [sectionHeaderLinkText]      = "'View all'"
        ></app-section-header>

        <div class="container">
                
            <!-- Active Orders List -->
            <div class="orders-list" *ngIf="(numberOfOrders > 0)">

                <!-- Product Card -->
                <app-product-card
                    [productCardTypeClass] = "'product-card-order'"
                ></app-product-card>
                <!-- [productCardURL]       = "'/order/1'" -->

                <!-- Product Card -->
                <app-product-card
                    [productCardTypeClass] = "'product-card-order'"
                ></app-product-card>
                <!-- [productCardURL]       = "'/order/1'" -->

            </div>

            <!-- No Orders Informative Card -->
            <app-informative-card *ngIf="(numberOfOrders == 0)"></app-informative-card>

        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer></app-footer>