<!-- Product Reviews Item -->
<div class="product-reviews-item">

    <div class="product-reviews-item--title-ratings-container">
        <div class="product-reviews-item--title">
            <h4>Consectetur tellus volutpat.</h4>
        </div>
        <div class="product-reviews-item--rating-container">
            <div class="product-reviews-item--rating">
                <div class="empty-stars"></div>
                <div class="full-stars" style="width: 60%;"></div>
            </div>
        </div>
    </div>

    <div class="product-reviews-item--date">January 1, 2023</div>

    <div class="product-reviews-item--content">
        <p>Massa morbi id lorem ultricies. Aliquet eu dolor cras ipsum hendrerit id ut habitant nisi. Lectus ipsum faucibus sed fringilla at tempor.</p>
    </div>

    <div class="product-reviews-item--profile-container">
        <div class="product-reviews-item--profile-picture">
            <picture>
                <source srcset="assets/img/avatars/brooklyn-simmons.webp" type="image/webp">
                <img src="assets/img/avatars/brooklyn-simmons.png" width="24px" height="24px" alt="Brooklyn Simmons">
            </picture>
        </div>
        <div class="product-reviews-item--profile-name">Brooklyn Simmons</div>
    </div>

</div>