<main role="main">

  <!-- Pantalla inicial de carga -->
  <div class="seccion">
    <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">

      <!-- Contenedor del logo y el texto -->
      <div class="d-flex flex-column align-items-center">

        <img src="https://online-store.davidborge.com/assets/img/logo/online-store-icon.svg" alt="Online Store Logo" style="margin-bottom: 32px;">

        <p style="margin-bottom: 6px;">Welcome to the world's largest</p>

        <img src="https://online-store.davidborge.com/assets/img/logo/online store-logo-text-only.svg" alt="Online Store">

      </div>

      <!-- Imágenes de productos -->
      <div class="imagen-con-blur-contenedor" style="top: 65px; left: 93px;">
        <div class="imagen-con-blur-contenedor-interno">
          <img src="assets/img/pantalla-inicial-de-carga/gafas-sol.png" alt="Sunglasses" class="imagen-con-blur" style="top: 10px;">
          <img src="assets/img/pantalla-inicial-de-carga/gafas-sol.png" alt="Sunglasses">
        </div>
      </div>

      <div class="imagen-con-blur-contenedor" style="top: 202px; left: 18px;">
        <div class="imagen-con-blur-contenedor-interno">
          <img src="assets/img/pantalla-inicial-de-carga/good-kid-maad-city.png" alt="good kid maad city" class="imagen-con-blur" style="top: 10px;">
          <img src="assets/img/pantalla-inicial-de-carga/good-kid-maad-city.png" alt="good kid maad city">
        </div>
      </div>

      <div class="imagen-con-blur-contenedor" style="top: 123px; left: 291px;">
        <div class="imagen-con-blur-contenedor-interno">
          <img src="assets/img/pantalla-inicial-de-carga/the-metamorphosis.png" alt="The Metamorphosis" class="imagen-con-blur" style="top: -33px;">
          <img src="assets/img/pantalla-inicial-de-carga/the-metamorphosis.png" alt="The Metamorphosis">
        </div>
      </div>

      <div class="imagen-con-blur-contenedor" style="top: 503px; left: 250px;">
        <div class="imagen-con-blur-contenedor-interno">
          <img src="assets/img/pantalla-inicial-de-carga/macbook-pro.png" alt="Macbook Pro" class="imagen-con-blur" style="top: 10px;">
          <img src="assets/img/pantalla-inicial-de-carga/macbook-pro.png" alt="Macbook Pro">
        </div>
      </div>

      <div class="imagen-con-blur-contenedor" style="top: 585px; left: 40px;">
        <div class="imagen-con-blur-contenedor-interno">
          <img src="assets/img/pantalla-inicial-de-carga/blindness.png" alt="Blindness" class="imagen-con-blur" style="top: 10px;">
          <img src="assets/img/pantalla-inicial-de-carga/blindness.png" alt="Blindness">
        </div>
      </div>

      <div class="imagen-con-blur-contenedor" style="top: 646px; left: 222px;">
        <div class="imagen-con-blur-contenedor-interno">
          <img src="assets/img/pantalla-inicial-de-carga/bose-headphones.png" alt="Bose Headphones" class="imagen-con-blur" style="top: 10px;">
          <img src="assets/img/pantalla-inicial-de-carga/bose-headphones.png" alt="Bose Headphones">
        </div>
      </div>

      <!-- Spinner -->
      <img src="assets/img/iconos/spinner.svg" alt="spinner" class="spinner">

    </div>
  </div>
  <!-- Fin de: Pantalla inicial de carga -->

</main>