<div id="contenedor-solo-movil">

  <main role="main">

    <!-- Pantalla inicial de carga -->
    <div class="seccion h-100">
      <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
      <!-- <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;"> -->

        <!-- Contenedor de Imágenes de productos -->
        <div class="contenedor-imagenes-productos" style="flex: 1; min-height: 230px;">

          <div class="imagen-con-blur-contenedor" style="top: 16%; left: 26%;">
            <div class="imagen-con-blur-contenedor-interno">
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/gafas-sol.webp" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/gafas-sol.png" width="222px" height="126px" alt="Sunglasses" class="imagen-con-blur" style="top: 10px; max-width: 111px; height: auto;">
              </picture>
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/gafas-sol.webp" width="222px" height="126px" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/gafas-sol.png" width="222px" height="126px" alt="Sunglasses" style="max-width: 111px; height: auto;">
              </picture>
            </div>
          </div>

          <div class="imagen-con-blur-contenedor" style="top: 56%; left: 5%;">
            <div class="imagen-con-blur-contenedor-interno">
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/good-kid-maad-city.webp" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/good-kid-maad-city.png" width="174px" height="162px" alt="good kid maad city" class="imagen-con-blur" style="top: 10px; max-width: 87px; height: auto;">
              </picture>
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/good-kid-maad-city.webp" width="174px" height="162px" alt="good kid maad city" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/good-kid-maad-city.png" width="174px" height="162px" alt="good kid maad city" style="max-width: 87px; height: auto;">
              </picture>
            </div>
          </div>

          <div class="imagen-con-blur-contenedor" style="top: 34%; right: 20%;">
            <div class="imagen-con-blur-contenedor-interno">
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/the-metamorphosis.webp" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/the-metamorphosis.png" width="134px" height="206px" alt="The Metamorphosis" class="imagen-con-blur" style="top: -33px; max-width: 67px; height: auto;">
              </picture>
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/the-metamorphosis.webp" width="222px" height="126px" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/the-metamorphosis.png" width="134px" height="206px" alt="The Metamorphosis" style="max-width: 67px; height: auto;">
              </picture>
            </div>
          </div>

        </div>

        <!-- Contenedor del logo y el texto -->
        <div class="d-flex flex-column align-items-center">

          <img src="https://online-store.davidborge.com/assets/img/logo/online-store-icon.svg" width="30px" height="32px" alt="Online Store Logo" style="margin-bottom: 32px;">

          <p style="margin-bottom: 6px;">Welcome to the world's largest</p>

          <img src="https://online-store.davidborge.com/assets/img/logo/online store-logo-text-only.svg" width="258px" height="35px" alt="Online Store">

        </div>

        <!-- Contenedor de Imágenes de productos -->
        <div class="contenedor-imagenes-productos" style="flex: 1.2; min-height: 281px;">

          <div class="imagen-con-blur-contenedor" style="top: 10%; right: 32%;">
            <div class="imagen-con-blur-contenedor-interno">
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/macbook-pro.webp" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/macbook-pro.png" width="232px" height="232px" alt="Macbook Pro" class="imagen-con-blur" style="top: 10px; max-width: 116px; height: auto;">
              </picture>
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/macbook-pro.webp" width="222px" height="126px" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/macbook-pro.png" width="232px" height="232px" alt="Macbook Pro" style="max-width: 116px; height: auto;">
              </picture>
            </div>
          </div>

          <div class="imagen-con-blur-contenedor" style="top: 31%; left: 11%;">
            <div class="imagen-con-blur-contenedor-interno">
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/blindness.webp" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/blindness.png" width="146px" height="226px" alt="Blindness" class="imagen-con-blur" style="top: 10px; max-width: 73px; height: auto;">
              </picture>
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/blindness.webp" width="222px" height="126px" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/blindness.png" width="146px" height="226px" alt="Blindness" style="max-width: 73px; height: auto;">
              </picture>
            </div>
          </div>

          <div class="imagen-con-blur-contenedor" style="top: 51%; right: 39%;">
            <div class="imagen-con-blur-contenedor-interno">
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/bose-headphones.webp" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/bose-headphones.png" width="220px" height="230px" alt="Bose Headphones" class="imagen-con-blur" style="top: 10px; max-width: 110px; height: auto;">
              </picture>
              <picture>
                <source srcset="assets/img/pantalla-inicial-de-carga/bose-headphones.webp" width="222px" height="126px" type="image/webp">
                <img src="assets/img/pantalla-inicial-de-carga/bose-headphones.png" width="220px" height="230px" alt="Bose Headphones" style="max-width: 110px; height: auto;">
              </picture>
            </div>
          </div>

        </div>

        <!-- Spinner -->
        <img src="assets/img/iconos/spinner.svg" width="79px" height="79px" alt="spinner" class="spinner">

      </div>
    </div>
    <!-- Fin de: Pantalla inicial de carga -->

  </main>

</div>