@import 'projects/web/src/styles.scss';



// Header Tag
header {
    background-color: white;
}



// Overlay Header
.overlay-header > div {
    padding-right: calc(var(--bs-gutter-x) / 2);

    display: flex;
    justify-content: space-between;
}

// Overlay Header - Espaciado vertical
.overlay-header-left-icon-container a,
.overlay-header-title {
    padding-top: 48px;
    padding-bottom: 12px;
}

// Overlay Header - Title
.overlay-header-title {
    flex: 1;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-header-title * {
    margin-bottom: 0;
}

.overlay-header-close-icon {
    position: absolute;
    top: calc( var(--bs-gutter-x) / 2);
    right: calc( var(--bs-gutter-x) / 2);
}

// Overlay Header - Main Page
.overlay-header-main-page {
    position: relative;
}

.overlay-header-main-page::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--N300);
}

.overlay-header-main-page .overlay-header-title * {
    @include heading-3;
}


// Overlay Header - Subpage
.overlay-header-subpage {
    position: relative;
}

.overlay-header-subpage::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
}

.overlay-header-subpage:not(.con-color-de-fondo):after {
    background-color: var(--N300);
}

.overlay-header-left-icon-container a {
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-header-left-icon-container a:hover {
    cursor: pointer;
}

.overlay-header-subpage .overlay-header-title {
    padding-right: var(--bs-gutter-x);  /* Para compensar el icono izquierdo */
}

.overlay-header-subpage .overlay-header-title * {
    @include heading-4;
}