@import 'projects/web/src/styles.scss';



// Header Tag
header {
    background-color: white;
}



// Overlay Header
.overlay-header > div {
    padding-right: calc(var(--bs-gutter-x) / 2);

    min-height: 82.5px;

    display: flex;
    justify-content: space-between;
}

// Overlay Header - Espaciado vertical
.overlay-header-left-icon-container a {
    padding-bottom: 14.1px;
}

.overlay-header-title {
    padding-bottom: 12px;
}

// Overlay Header - Title
.overlay-header-title {
    flex: 1;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
}

.overlay-header-title * {
    margin-bottom: 0;
}

/* // No usado
.overlay-header-close-icon {
    position: absolute;
    top: calc( var(--bs-gutter-x) / 2);
    right: calc( var(--bs-gutter-x) / 2);
} */

.overlay-header-subpage .overlay-header-title .overlay-header-page-title-sup-title {
    margin-bottom: 3px;
    
    @include body-14px-regular;
}

// Overlay Header - Main Page
.overlay-header.overlay-header-main-page > div {
    min-height: 90px;
}

.overlay-header-main-page {
    position: relative;
}

.overlay-header-main-page::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--N300);
}

.overlay-header-main-page .overlay-header-title * {
    @include heading-3;
}


// Overlay Header - Subpage
.overlay-header.overlay-header-subpage > div {
    min-height: 82.5px;
}

.overlay-header-subpage {
    position: relative;
}

.overlay-header-subpage:not(.overlay-header-with-steps)::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
}

.overlay-header-subpage:not(.con-color-de-fondo):not(.overlay-header-with-steps):after {
    background-color: var(--N300);
}

.overlay-header-left-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
}

.overlay-header-left-icon-container a {
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.overlay-header-left-icon-container a:hover {
    cursor: pointer;
}

.overlay-header-subpage .overlay-header-title {
    padding-right: var(--bs-gutter-x);  /* Para compensar el icono izquierdo */
}

.overlay-header-subpage .overlay-header-title * {
    @include heading-4;
}



// Overlay Header - With Steps
.overlay-header-with-steps .overlay-header-title {
    padding-right: calc( var(--bs-gutter-x) / 2 );
    text-align: left;
}

.steps {
    padding-bottom: 12px;

    @include label-14px-medium;
    color: var(--N400);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.overlay-header-subpage.overlay-header-with-steps::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: var(--N200);
}

.overlay-header-subpage.overlay-header-with-steps::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 33%;
    height: 4px;

    background-color: var(--N900);
}