<!-- Product Card -->
<div class="product-card {{productCardTypeClass}}" [ngStyle]="{ 'background-color': ((productCardTypeClass == 'product-card-featured') ? product.cardAndHeaderBackgroundColor : '') }">

    <a routerLink="/product/{{product.slug}}">

        <!-- Product Image -->
        <div class="product-card-image-container">
            <picture>
                <source srcset="{{product.imageThumbnail}}.webp" type="image/webp">
                <!-- <img ngSrc="{{product.imageThumbnail}}.png" alt="{{product.name}}" width="{{product.imageWidth}}" height="{{product.imageHeight}}" priority> -->
                <img ngSrc="{{product.imageThumbnail}}.png" alt="{{product.name}}" width="{{product.imageWidth}}" height="{{product.imageHeight}}" priority imageLoadedDirective>
                <!-- Ejemplo: -->
                <!-- <source srcset="/assets/img/products/dualsense-wireless-controller-thumbnail.webp" type="image/webp"> -->
                <!-- <img ngSrc="/assets/img/products/dualsense-wireless-controller-thumbnail.png" alt="DualSense Wireless Controller" width="508" height="475"> -->
            </picture>
        </div>

        <!-- Product or Order Copy Container -->
        <div class="product-or-order-card-copy-container">

            <div class="product-or-order-card-copy-name-manufacturer-rating-container" *ngIf="(productCardTypeClass != 'product-card-order')">

                <!-- Product Name -->
                <div class="product-card-name" [innerHTML]="productCardTitleHeadingTagInnerHTML">
                    <!-- Ejemplo: <h2>Chuck 70 Hi Sneakers</h2> -->
                </div>

                <!-- Product Manufacturer -->
                <div class="product-card-manufacturer">{{product.manufacturer}}</div>

                <!-- Product Rating -->
                <app-product-rating
                    *ngIf="(productCardTypeClass == 'product-card-small')"
                    [productCardRatingNumber] = "product.ratingNumber"
                ></app-product-rating>

            </div>

            <!-- Order Total -->
            <div class="order-total" *ngIf="(productCardTypeClass == 'product-card-order')">Order total</div>

            <!-- Product or Order Price -->
            <div class="product-or-order-card-price">{{product.price  | currency:'EUR':'symbol':'1.2-2'}}</div>

            <!-- Order Arrival Date -->
            <div class="order-arrival-date" *ngIf="(productCardTypeClass == 'product-card-order')">Arriving tomorrow</div>

        </div>

        <!-- Order Button -->
        <div class="order-button" *ngIf="(productCardTypeClass == 'product-card-order')">
            <div class="order-button--icon-container">
                
                <!-- Icon: chevron-right -->
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 15L12.5 10L7.5 5" stroke="#363939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

            </div>
        </div>

    </a>

</div>