@import 'projects/web/src/styles.scss';




// Product Card
.product-card {
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.product-card a {
    padding: 16px;

    color: unset;
    text-decoration: none;
}

.product-card-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-image-container img {
    width: 100%;
    height: auto;
}

.product-card-manufacturer {
    @include body-12px-regular;   
}



// Product Card - Featured
.product-card-featured {
    min-width: 206px;
    width: 206px;

    // FIXME:
    background-color: var(--B300);
}

.product-card-featured .product-card-image-container {
    height: 197px;
}

.product-card-featured .product-card-name * {
    @include heading-4;
}

.product-card-featured .product-rating {
    display: none;
}

.product-card-featured .product-card-price {
    margin-top: 16px;
}



// Product Card - Small
.product-card-small {
    background-color: var(--N100);
}

.product-card-small .product-card-image-container {
    height: 131px;
}

.product-card-small .product-card-name * {
    @include heading-5;
}

.product-card-small .product-card-manufacturer {
    display: none;
}

.product-card-small .product-card-price {
    margin-top: 8px;
    font-size: 14px;
}