@import 'projects/web/src/styles.scss';




// Product Card
.product-card {
    border-radius: var(--card-border-radius);

    height: 100%;

    display: flex;
    flex-direction: column;
}

.product-card a {
    border-radius: var(--card-border-radius);
    padding: 16px;

    height: 100%;

    color: unset;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-card-image-container {
    display: inline-block;
}

.product-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card-manufacturer {
    @include body-12px-regular;   
}



// Product Card - Featured
.product-card-featured {
    min-width: 206px;
    width: 206px;
}

.product-card-featured .product-card-image-container {
    height: 197px;
}

.product-card-featured .product-card-name * {
    @include heading-4;
}

.product-card-featured .product-rating {
    display: none;
}

.product-card-featured .product-or-order-card-price {
    margin-top: 16px;
}



// Product Card - Small
.product-card-small {
    background-color: var(--N100);
}

.product-card-small .product-card-image-container {
    height: 131px;
}

.product-card-small .product-card-name * {
    @include heading-5;
}

.product-card-small .product-card-manufacturer {
    display: none;
}

.product-card-small .product-or-order-card-price {
    margin-top: 8px;
    font-size: 14px;
}



// Product Card - Order
.product-card-order {
    border: 1px solid var(--N200);
    border-radius: var(--card-border-radius);
}

.product-card-order a {
    border-radius: var(--card-border-radius);
    padding: 8px 16px;

    display: flex;
    gap: 16px;
}

// Product Card - Order - Image Container
.product-card-order .product-card-image-container {
    width: 80px;
    height: 80px;

    display: flex;
}

// Product Card - Order - Product or Order Copy Container
.product-or-order-card-copy-container {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-or-order-card-copy-name-manufacturer-rating-container {
    flex: 1;
}

// Product Card - Order - Order total
.order-total {
    margin-bottom: 4px;

    @include label-12px-medium;
    color: var(--N400);
}

// Product Card - Order - Price
.product-card-order .product-or-order-card-price {
    margin-bottom: 12px;

    @include label-14px-medium;
}


// Product Card - Order - Order Arrival Date
.order-arrival-date {
    margin-bottom: 4px;

    @include label-12px-semi-bold;
    color: var(--O500);
}

// Product Card - Order - Order Button
.order-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Product Card - Order - Order Button - Icon
.order-button--icon-container {
    border: 1px solid var(--N800);
    border-radius: 50%;

    width: 36px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}
