<!-- Footer Tag -->
<footer>
  
    <!-- Curve -->
    <div class="navigation-curve"></div>

    <!-- Navigation CTAs & Copy -->
    <div class="navigation-ctas-and-copy-container" *ngIf="navigationShowCtasAndCopy">

        <div class="navigation-ctas-and-copy container">

            <!-- (NO) Navigation Button Left -->
            <!-- <div class="navigation-button-left-container d-none">
                <button type="button" class="btn btn-outline-secondary btn-lg"> -->

                    <!-- <span class="navigation-button-icon navigation-button-icon-left navigation-button-left--left-icon">

                    </span> -->

                    <!-- <span class="navigation-button-left--text">Cancel</span>

                    <span class="navigation-button-icon navigation-button-icon-right navigation-button-left--right-icon"> -->
                        <!-- <svg-icon name="plus"></svg-icon>
                    </span>

                </button>
            </div> -->

            <!-- Navigation Copy -->
            <div class="navigation-copy" *ngIf="navigationShowCopy && (numberOfProductsInCart > 0)">
                <div class="navigation-copy-label">{{navigationCopyLabel}}</div>
                <div class="navigation-copy-price">{{navigationCopyPrice}}</div>
            </div>

            <!-- Navigation Button Right -->
            <div class="navigation-button-right-container">
                <button type="button" class="btn {{navigationButtonRightClasses}}" (click)="router.navigate([navigationButtonRightURL]);">

                    <!-- <span class="navigation-button-icon navigation-button-icon-right navigation-button-right--left-icon">

                    </span> -->

                    <span class="navigation-button-right--text">{{navigationButtonRightText}}</span>
                    <span class="navigation-button-icon navigation-button-icon-right navigation-button-right--right-icon" *ngIf="navigationShowButtonRightRightIcon">

                        <svg-icon name="check" *ngIf="(navigationShowButtonRightRightIconType == 'check')"></svg-icon>

                        <svg-icon name="plus" *ngIf="(navigationShowButtonRightRightIconType == 'plus')"></svg-icon>

                    </span>

                </button>
            </div>
            
        </div>

        <!-- Navigation Separator -->
        <div class="navigation-separator"></div>

    </div>


    <!-- Navigation Items -->
    <div class="navigation-items">

        <!-- Navigation Item -->
        <div class="navigation-item navigation-item--active">
            <a routerLink="/home">
                <div class="navigation-icon-container">
                    <svg-icon name="home"></svg-icon>
                </div>
                
                <div class="navigation-text">Home</div>
            </a>
        </div>
        
        <!-- Navigation Item -->
        <div class="navigation-item">
            <a routerLink="/categories">
                <div class="navigation-icon-container">
                    <svg-icon name="grid"></svg-icon>
                </div>

                <div class="navigation-text">Categories</div>
            </a>
        </div>

        <!-- Navigation Item -->
        <div class="navigation-item">
            <a routerLink="/cart">
                <div class="navigation-icon-container">
                    <svg-icon name="shopping-cart"></svg-icon>
                </div>

                <div class="navigation-text">Cart</div>
            </a>
        </div>

        <!-- Navigation Item -->
        <div class="navigation-item">
            <a routerLink="/account">
                <div class="navigation-icon-container">
                    <svg-icon name="user"></svg-icon>
                </div>

                <div class="navigation-text">Account</div>
            </a>
        </div>

    </div>
  
</footer>