// Footer
footer {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.14));
}

// Footer - Navigation - Curve
.navigation-curve {
    height: 14px;
    // SVG Original: https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26585%3A3440&t=iNieEoyWN85WV0Jm-1
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 390 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M390 14C348.958 8.70732 291.146 2.04878 187.673 0C90.7093 1.41152 23.4854 10.7469 4.03296 13.4483C2.30944 13.6877 0.960944 13.8749 0 14H390Z' fill='%23F9D262'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
}

// Footer - Navigation - Navigation Separator
.navigation-separator {
    position: relative;
    width: calc(100% - 24px);
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-separator::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: var(--Y300);
    opacity: 0.5;
}

// Footer - Navigation - Navigation CTAs & Copy
.navigation-ctas-and-copy-container {
    background-color: var(--Y500);
}

.navigation-ctas-and-copy {
    padding-top: 6px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navigation-button-right-container {
    flex: 1;
}

.navigation-ctas-and-copy-container button {
    width: 100%;
    height: 100%;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-ctas-and-copy-container button .navigation-button-icon {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.navigation-ctas-and-copy-container button .navigation-button-icon-left {
    margin-right: 8px;
}

.navigation-ctas-and-copy-container button .navigation-button-icon-right {
    margin-left: 8px;
}

.navigation-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-copy-label {
    font-size: 12px;
    white-space: nowrap;
}

.navigation-copy-price {
    font-size: 20px;
    font-weight: bold;
}

// Footer - Navigation - Navigation Items
.navigation-items {
    padding: 12px 10px;
    background-color: var(--Y500);
    display: flex;
    justify-content: space-between;
}

.navigation-item {
    flex: 1;
}

.navigation-item a {
    width: 100%;
    color: var(--N900);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-icon-container {
    margin-bottom: 4px;
}

.navigation-text {
    font-size: 14px;
}

.navigation-item:not(.navigation-item--active) {
    opacity: 50%;
}