<!-- Account Card -->
<div class="account-card">
    <a routerLink="{{accountCardURL}}">
    
        <!-- Account Card - Icon -->
        <div class="account-card--icon-container">

            <svg-icon name="shopping-bag" *ngIf="(accountCardTitle == 'Orders')"></svg-icon>

            <svg-icon name="map-pin" *ngIf="(accountCardTitle == 'Addresses')"></svg-icon>

            <svg-icon name="credit-card" *ngIf="(accountCardTitle == 'Payment Methods')"></svg-icon>
            
        </div>

        <!-- Account Card - Label -->
        <div class="account-card--label-container">
            <h3>{{accountCardTitle}}</h3>
        </div>
        
    </a>
</div>