<!-- Credit Card -->
<div class="credit-card {{creditCardType}}" [ngClass]="{ 'credit-card-selected': creditCardSelected }">

    <button>
        
        <!-- Credit Card - Top Info -->
        <div class="credit-card--top-info">

            <!-- Credit Card - Bank Name -->
            <div class="credit-card--bank-name">{{creditCardBankName}}</div>

            <!-- Credit Card - Person Name -->
            <div class="credit-card--person-name">{{creditCardPersonName}}</div>
            
        </div>

        <!-- Credit Card - Bottom Info -->
        <div class="credit-card--bottom-info">
            
            <!-- Credit Card -Last Four Numbers -->
            <div class="credit-card--last-four-numbers">
                <span class="credit-card--last-four-numbers--asterics">**** **** **** </span>
                <span class="credit-card--last-four-numbers--numbers">{{creditCardLastFourNumbers}}</span>
            </div>

            <!-- Credit Card - Expiration Date -->
            <div class="credit-card--expiration-date-container">
                <div class="credit-card--expiration-date--title">Expiration Date</div>
                <div class="credit-card--expiration-date--date">{{creditCardExpirationDate}}</div>
            </div>
            
        </div>

        <!-- Credit Card - Icon Type (Master Card, Visa) -->
        <div class="credit-card--icon-type-container">

            <svg-icon name="mastercard" *ngIf="(creditCardType == 'mastercard')"></svg-icon>

            <svg-icon name="visa-gris" *ngIf="(creditCardType == 'visa') && !creditCardSelected"></svg-icon>
            
            <svg-icon name="visa-blanco" *ngIf="(creditCardType == 'visa') && creditCardSelected"></svg-icon>

        </div>

        <!-- Credit Card - Button -->
        <div class="credit-card--interior-button-container" *ngIf="creditCardShowButton">
            
            <!-- Select Button -->
            <app-select-button
                [selectButtonSelected] = "creditCardSelected"
            ></app-select-button>
            
        </div>

        <!-- Credit Card - Background Image -->
        <div class="credit-card--background-image">
            <svg-icon name="bank-background-image"></svg-icon>
        </div>

    </button>

</div>