<!-- Cart and Checkout Product Card -->
<div class="cart-and-checkout-product-card">

    <!-- Cart and Checkout Product Card - Image -->
    <div class="cart-and-checkout-product-card--image-container">
        <picture>
            <source srcset="assets/img/products/the-hobbit-thumbnail.webp" type="image/webp">
            <img src="assets/img/products/the-hobbit-thumbnail.png" width="108px" height="160px" alt="The Hobbit">
        </picture>
    </div>
    
    <!-- Cart and Checkout Product Card - Information -->
    <div class="cart-and-checkout-product-card--information-container">
        <div class="cart-and-checkout-product-card--product-name-container">
            <h2>The Hobbit</h2>
        </div>
        <div class="cart-and-checkout-product-card--price">14,99 €</div>
    </div>
    
    <!-- Cart and Checkout Product Card - Item Count -->
    <div class="cart-and-checkout-product-card--item-count-container">
        <div class="cart-and-checkout-product-card--item-count">

            <div class="cart-and-checkout-product-card--item-count--minus-and-delete" *ngIf="cartCheckoutProductCardShowButtons">
                <button class="btn btn-link py-0" [ngClass]="{'delete-button': (theHobbitItemCount == 1)}" (click)="onClickMinusOrDeleteButton();" [attr.aria-label]="(theHobbitItemCount > 1) ? 'Remove one of this product from the cart' : 'Remove this product from the cart'">
                    <div class="cart-and-checkout-product-card--item-count--minus" *ngIf="(theHobbitItemCount > 1)">
                        <svg-icon name="minus"></svg-icon>
                    </div>
                    <div class="cart-and-checkout-product-card--item-count--delete" *ngIf="(theHobbitItemCount == 1)">
                        <svg-icon name="trash"></svg-icon>
                    </div>
                </button>
            </div>

            <div class="cart-and-checkout-product-card--item-count--quantity-container" [ngClass]="{ 'no-buttons': !cartCheckoutProductCardShowButtons }">
                <div class="cart-and-checkout-product-card--item-count--quantity">{{theHobbitItemCount}}</div> <!-- Ejemplo: 1, 2, 3... -->
            </div>

            <div class="cart-and-checkout-product-card--item-count--plus" *ngIf="cartCheckoutProductCardShowButtons" (click)="onClickPlusButton();">
                <button class="btn btn-link py-0" aria-label="Add one more of this product from the cart">
                    <svg-icon name="plus"></svg-icon>
                </button>
            </div>

        </div>
    </div>

</div>