<!-- Cart and Checkout Product Card -->
<div class="cart-and-checkout-product-card">

    <!-- Cart and Checkout Product Card - Image -->
    <div class="cart-and-checkout-product-card--image-container">
        <picture>
            <source srcset="assets/img/products/the-hobbit-thumbnail.webp" type="image/webp">
            <img src="assets/img/products/the-hobbit-thumbnail.png" width="108px" height="160px" alt="The Hobbit">
        </picture>
    </div>
    
    <!-- Cart and Checkout Product Card - Information -->
    <div class="cart-and-checkout-product-card--information-container">
        <div class="cart-and-checkout-product-card--product-name-container">
            <h3>The Hobbit</h3>
        </div>
        <div class="cart-and-checkout-product-card--price">14,99 €</div>
    </div>
    
    <!-- Cart and Checkout Product Card - Item Count -->
    <div class="cart-and-checkout-product-card--item-count-container">
        <div class="cart-and-checkout-product-card--item-count">
            <div class="cart-and-checkout-product-card--item-count--minus-and-delete">
                <button class="btn btn-link py-0" [ngClass]="{'delete-button': (theHobbitItemCount == 1)}" (click)="onClickMinusOrDeleteButton();">
                    <div class="cart-and-checkout-product-card--item-count--minus" *ngIf="(theHobbitItemCount > 1)">
                        <!-- Icon: minus -->
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16663 10H15.8333" stroke="#363939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                    <div class="cart-and-checkout-product-card--item-count--delete" *ngIf="(theHobbitItemCount == 1)">
                        <!-- Icon: trash -->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 6H5H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                </button>
            </div>
            <div class="cart-and-checkout-product-card--item-count--quantity-container">
                <div class="cart-and-checkout-product-card--item-count--quantity">{{theHobbitItemCount}}</div> <!-- Ejemplo: 1, 2, 3... -->
            </div>
            <div class="cart-and-checkout-product-card--item-count--plus" (click)="onClickPlusButton();">
                <button class="btn btn-link py-0">
                    <!-- Icon: plus -->
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.5 3.33301V12.6663" stroke="#1F2223" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.83331 8H13.1666" stroke="#1F2223" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </button>
            </div>
        </div>
    </div>

</div>