@import 'projects/web/src/styles.scss';

// Cart and Checkout Product Card
.cart-and-checkout-product-card {
    padding: 8px calc(var(--bs-gutter-x) * 0.5);

    max-height: 96px;

    display: flex;
    gap: 16px;

    --cart-and-checkout-product-card-border-radius: 6px;
}

// Cart and Checkout Product Card - Image
.cart-and-checkout-product-card--image-container {
    max-width: 80px;
    min-height: 80px;
}

.cart-and-checkout-product-card--image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

// Cart and Checkout Product Card - Information
.cart-and-checkout-product-card--information-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Cart and Checkout Product Card - Information - Product Name
.cart-and-checkout-product-card--product-name-container * {
    @include heading-5;

    @include ellipsis-in-second-line;
    -webkit-line-clamp: 3;
}

// Cart and Checkout Product Card - Information - Price
.cart-and-checkout-product-card--price {
    @include label-14px-medium;
    white-space: nowrap;
}

// Cart and Checkout Product Card - Item Count
.cart-and-checkout-product-card--item-count-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-and-checkout-product-card--item-count {
    border: 1px solid var(--N200);
    border-radius: var(--cart-and-checkout-product-card-border-radius);

    height: 36px;

    display: flex;
}

.cart-and-checkout-product-card--item-count--minus-and-delete,
.cart-and-checkout-product-card--item-count--minus-and-delete button,
.cart-and-checkout-product-card--item-count--quantity-container,
.cart-and-checkout-product-card--item-count--plus,
.cart-and-checkout-product-card--item-count--plus button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-and-checkout-product-card--item-count--minus-and-delete button,
.cart-and-checkout-product-card--item-count--plus button {
    padding-right: 12px;
    padding-left: 12px;

    width: 46px;
    height: 100%;

    border-radius: 0;
}

.cart-and-checkout-product-card--item-count--minus-and-delete button:active,
.cart-and-checkout-product-card--item-count--plus button:active {
    background-color: var(--N100);
}

.cart-and-checkout-product-card--item-count--quantity-container,
.cart-and-checkout-product-card--item-count--minus,
.cart-and-checkout-product-card--item-count--plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-and-checkout-product-card--item-count--quantity-container {
    padding-right: 12px;
    padding-left: 12px;
}

.cart-and-checkout-product-card--item-count--quantity-container:not(.no-buttons) {
    border-right: 1px solid var(--N200);
    border-left: 1px solid var(--N200);
}

.cart-and-checkout-product-card--item-count--quantity-container.no-buttons {
    border-radius: var(--cart-and-checkout-product-card-border-radius);
}

.cart-and-checkout-product-card--item-count--quantity-container.no-buttons
    .cart-and-checkout-product-card--item-count--quantity::before {
    content: 'x';
    margin-right: 3px;
}

.cart-and-checkout-product-card--item-count--quantity {
    min-width: 20px;

    @include label-14px-semi-bold;
    line-height: 100%;
    text-align: center;
    max-width: 60px;
    // TODO: change font-size based on number of characters to prevent overflow.

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-and-checkout-product-card--item-count--minus {
}

.cart-and-checkout-product-card--item-count--plus {
}

.cart-and-checkout-product-card--item-count--minus-and-delete button {
    border-bottom-left-radius: var(--cart-and-checkout-product-card-border-radius);
    border-top-left-radius: var(--cart-and-checkout-product-card-border-radius);
}

.cart-and-checkout-product-card--item-count--minus-and-delete button.delete-button {
    border-color: var(--R500);
    background-color: var(--R500);
}

.cart-and-checkout-product-card--item-count--minus-and-delete button.delete-button:active {
    opacity: 0.9;
}

.cart-and-checkout-product-card--item-count--delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-and-checkout-product-card--item-count--delete svg {
    width: 18px;
}

.cart-and-checkout-product-card--item-count--plus button {
    border-bottom-right-radius: var(--cart-and-checkout-product-card-border-radius);
    border-top-right-radius: var(--cart-and-checkout-product-card-border-radius);
}
