<!-- Product Page -->

<!-- Header Tag -->
<!-- Mostrar solo si el objeto currentProduct no está vacío -->
<app-header
    *ngIf="imagesInThisPageLoaded"
    [headerTagType] = "'overlay-header-subpage'"
    [overlayHeaderPageTitle] = "currentProduct.name"
    [overlayHeaderSubpageBackgroundColor] = "currentProduct.cardAndHeaderBackgroundColor"
></app-header>
    
<!-- Main -->
<!-- <main role="main" style="padding-bottom: var(--espacio-vertical);"> -->
<main role="main" style="padding-bottom: calc(148px + var(--espacio-vertical));">

    <!-- Loading Spinner -->
    <app-loading-spinner
        [imagesInThisPageLoaded]="imagesInThisPageLoaded"
        [thisPagePreviouslyVisited]="productPagePreviouslyVisited"
        [currentlyInThePageIEnteredFrom]="currentlyInThePageIEnteredFrom"
    >

        <!-- Page content -->

        <!-- ProductDetailComponent -->
        <router-outlet></router-outlet>

    </app-loading-spinner>

</main>
  
<!-- Footer Tag -->
<app-footer
    [navigationShowCtasAndCopy] = "true"
    [navigationCopyLabel]   = "''"
    [navigationCopyPrice]   = "( currentProduct ? currentProduct.price : 0 )"
    [navigationButtonRightText] = "'Add to cart'"
></app-footer>