<!-- Product Page -->

<!-- Header Tag -->
<!-- Mostrar solo si el objeto currentProduct no está vacío -->
<app-header
    *ngIf="currentProduct"
    [headerTagType] = "'overlay-header-subpage'"
    [overlayHeaderPageTitle] = "currentProduct.name"
    [overlayHeaderSubpageBackgroundColor] = "currentProduct.cardAndHeaderBackgroundColor"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(148px + var(--espacio-vertical));">

    <router-outlet></router-outlet>

</main>
  
<!-- Footer Tag -->
<app-footer
    [navigationShowCtasAndCopy] = "true"
    [navigationCopyLabel]   = "''"
    [navigationCopyPrice]   = "'79,99 €'"
    [navigationButtonRightText] = "'Add to cart'"
></app-footer>