@use 'projects/web/src/styles.scss' as *;

// Product Page - Header Tag
header {
    background-color: transparent;
}

// Product Page - Overlay Header - Quitar borde inferior
body.product-page .overlay-header {
    // TODO:
    background-color: var(--B300);
}

body.product-page .overlay-header::after {
    height: 0;
}
