@use '../../../../../../styles.scss' as *;
@use 'sass:math';
@use 'sass:list';
@use 'sass:string';

// TODO: what????
// Woohoo!
.woohoo {
    @include heading-1;
}

// Animated Confetti
// Fuente: https://codepen.io/fionnachan/pen/EvaqOB
$colors: (var(--R500), var(--Y500), var(--B500)); // Importante: colores del confetti

.animated-confetti-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.animated-confetti {
    position: relative;
    height: 100%;
    overflow: hidden;
}

[class|='confetti'] {
    position: absolute;
}

@for $i from 0 through 150 {
    $w: math.random(8);
    $l: math.random(100);

    .confetti-#{$i} {
        width: #{$w}px;
        height: #{$w * 0.4}px;
        background-color: list.nth($colors, math.random(3));
        top: -10%;
        left: string.unquote($l + '%');
        opacity: math.random() + 0.5;
        transform: rotate(#{math.random() * 360}deg);
        animation: drop-#{$i}
            string.unquote(4 + math.random() + 's')
            string.unquote(math.random() + 's')
            infinite;
    }

    @keyframes drop-#{$i} {
        100% {
            top: 110%;
            left: string.unquote($l + math.random(15) + '%');
        }
    }
}
