// Loading Spinner Container
.loading-spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// Loading Spinner Explanation
.loading-spinner-explanation {
    color: var(--N600);
}