@use 'styles' as *; // Relative to "projects/web/src" because of angular.json > projects.web.architect.build.options.stylePreprocessorOptions.includePaths

// Product Rating
.product-rating {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

.product-rating-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-rating-number {
    padding-top: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 12px;
}

.product-rating-number-of-reviews {
    padding-top: 2px;

    @include label-12px-medium;
    line-height: 100%;

    color: var(--N700);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-or-order-card-price {
    color: var(--N700);
}
