@import 'projects/web/src/styles.scss';

.bottom-overlay {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    max-width: var(--ancho-contenedor-solo-movil);

    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottom-overlay--overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgb(0 0 0 / 30%);
    backdrop-filter: saturate(180%) blur(20px);
}

.bottom-overlay--dialog {
    z-index: 0;

    width: 100%;

    padding: 10px 10px 0;

    display: flex;
    justify-content: center;
}

.bottom-overlay--content {
    border-radius: var(--card-border-radius);

    width: 100%;
    max-width: var(--ancho-contenedor-solo-movil);

    background-color: white;
}

.bottom-overlay--header {
    position: relative;

    border-bottom: 1px solid var(--N300);
    padding: 48px 24px 12px;
}

.bottom-overlay---title * {
    margin-bottom: 0;

    @include heading-4;
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 16px;
    right: 16px;

    width: auto;
    height: auto;

    border-radius: 50%;
    background: var(--N200);

    display: flex;
}

.bottom-overlay--body {
    padding: 24px;
}

.bottom-overlay--footer {
    // border-top: 1px solid var(--N200);
    padding: 12px 24px;

    display: flex;
    gap: 24px;
}

.add-btn-container {
    flex: 1;
}

.add-btn-container button {
    width: 100%;
}
