<!-- Address Card -->
<div class="address-card" [ngClass]="{ 'address-card-selected': (addressCardIsDefault == 1) }">

    <button (click)="onClickAddressCardOrSelectButton();">

        <div class="address-card--copy-container">

            <div class="address-card--person-name">{{addressCardFullName}}</div>
            <div class="address-card--address">{{addressCardAddress}}</div>
            <div class="address-card--postal-code-and-city">{{addressCardPostalCode}}, {{addressCardCity}}</div>
            <div class="address-card--country">{{addressCardCountry}}</div>

        </div>

        <div class="address-card--interior-button-container" *ngIf="addressCardShowButton">
            
            <!-- Select Button -->
            <app-select-button
                [selectButtonSelected] = "addressCardIsDefault"
            ></app-select-button>

        </div>

    </button>

</div>