@import 'projects/web/src/styles.scss';

// Address Card
.address-card {
    border-radius: var(--card-border-radius);
}

.address-card:not(.address-card-selected) {
    background-color: var(--N100);
}

// Address Card - Button
.address-card > button {
    position: relative;
    overflow: hidden;

    border: 0;
    border-radius: var(--card-border-radius);
    padding: 16px;
    background-color: unset;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

// Address Card - Copy
.card--copy-container {
    flex: 1;
}

.address-card--person-name {
    margin-bottom: 8px;

    @include label-16px-medium;
    text-align: left;
}

.address-card--address,
.address-card--postal-code-and-city,
.address-card--country {
    @include body-14px-regular;
    color: var(--N700);
    text-align: left;
}

// Address Card - Interior Button
.address-card--interior-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Address Card - Selected
.address-card.address-card-selected {
    background-color: var(--N800);
}

.address-card-selected .address-card--person-name {
    color: white;
}

.address-card-selected .address-card--address,
.address-card-selected .address-card--postal-code-and-city,
.address-card-selected .address-card--country {
    color: var(--N100);
}
