@import 'projects/web/src/styles.scss';




// Category Card
.category-card {
    border-radius: 10px;
    padding: 16px;
}


// Category Card - Link
.category-card a {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--espaciado-categories-cards);
}


// Category Card - Title
.category-card--title-container * {
    margin-bottom: 0;

    @include heading-4;
}


// Category Card - Image
.category-card--image-container {
    height: calc(100% - 16px - 16px);  // Compensar el padding superior e inferior de .category-card

    display: inline-block;
}

.category-card--image-container img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}


// Category Card - Small
.category-card--small {
    height: 189px;
}


// Category Card - Large
.category-card--large {
    height: 273px;
}


// Category Card - Tech, Reading, Music, Fashion
#category-card--tech {
    background-color: var(--P300);
}

#category-card--reading {
    background-color: var(--G300);
}

#category-card--music {
    background-color: var(--R300);
}

#category-card--fashion {
    background-color: var(--B300);
}
