@use 'projects/web/src/styles.scss' as *;

// Select Button
.select-button {
    padding: 9px 8px;
    background-color: white;
}

.select-button--label {
    @include label-14px-medium;
}

.select-button--icon {
}

// Select Button - Selected
.select-button--selected {
    border-color: var(--Y300);
    background-color: var(--Y300);

    width: 36px;
    height: 36px;
}

.select-button--selected .select-button--icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Select Button - Hover
.select-button:hover {
    color: var(--bs-btn-color);
}
