<button type="button"
    class="btn-with-loading-spinner {{btnWithLoadingSpinnerClasses}}"
    [ngClass]="{'btn-with-loading-spinner--process-started': (btnWithLoadingSpinnerProcessStatus == 'STARTED')}"
    (click)="onClickBtnWithLoadingSpinner();"
    [disabled]="(btnWithLoadingSpinnerProcessStatus == 'STARTED') || ( (currentURL.includes('/product/')) && (btnWithLoadingSpinnerProcessStatus == 'ENDED_SUCCESSFULLY') )"
>
<!-- Nota: desactivo el botón también si, en la página de producto, en el botón pone "Added!" (ocurre durante 1500 ms) -->

    <!-- Button text -->
    <span [class]="btnWithLoadingSpinnerTextClasses">{{btnWithLoadingSpinnerText}}</span>
    
    <!-- Button Loading Spinner -->
    <span class="btn-with-loading-spinner--loading-spinner" *ngIf="(btnWithLoadingSpinnerProcessStatus == 'STARTED')">
        <img ngSrc="assets/img/icons/spinner-animated.svg" alt="Spinner" width="{{btnWithLoadingSpinnerSpinnerWidthAndHeight}}" height="{{btnWithLoadingSpinnerSpinnerWidthAndHeight}}" priority>
    </span>

</button>