<button type="button"
    class="btn-with-loading-spinner {{btnWithLoadingSpinnerClasses}}"
    [ngClass]="{'btn-with-loading-spinner--process-started': (btnWithLoadingSpinnerProcessStatus == 'STARTED')}"
    (click)="onClickBtnWithLoadingSpinner();"
    [disabled]="!formIsValid || (btnWithLoadingSpinnerProcessStatus == 'STARTED') || ( (currentURL.includes('/product/')) && (btnWithLoadingSpinnerProcessStatus == 'ENDED_SUCCESSFULLY') )"
>
<!-- Nota: desactivo el botón también si, en la página de producto, en el botón pone "Added!" (ocurre durante 1500 ms) -->

    <!-- Button text -->
    <span [class]="btnWithLoadingSpinnerTextClasses">{{btnWithLoadingSpinnerText}}</span>
    
    <!-- Button Loading Spinner -->
    <span class="btn-with-loading-spinner--loading-spinner" *ngIf="(btnWithLoadingSpinnerProcessStatus == 'STARTED')">
        <img ngSrc="assets/img/icons/spinner-animated.svg" alt="Spinner" width="{{btnWithLoadingSpinnerSpinnerWidthAndHeight}}" height="{{btnWithLoadingSpinnerSpinnerWidthAndHeight}}" priority>
    </span>

    <span class="navigation-button-icon navigation-button-icon-right" *ngIf="navigationShowButtonRightRightIcon">

        <!-- Icon: plus -->
        <svg *ngIf="(navigationShowButtonRightRightIconType == 'plus') && (btnWithLoadingSpinnerProcessStatus != 'ENDED_SUCCESSFULLY')" class="icon-plus" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.5 3.33301V12.6663" stroke="#1F2223" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.83331 8H13.1666" stroke="#1F2223" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

    </span>

    <span class="navigation-button-icon navigation-button-icon-right" *ngIf="(btnWithLoadingSpinnerProcessStatus == 'ENDED_SUCCESSFULLY')">

        <!-- Icon: check -->
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1666 5L7.99998 14.1667L3.83331 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

    </span>

</button>