// Button with loading spinner
.btn-with-loading-spinner {
    position: relative;

    width: 100%;
    height: 100%;

    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



// Button with loading spinner - Loading spinner
.btn-with-loading-spinner--loading-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}



// Button with loading spinner - Process started
.btn-with-loading-spinner--process-started {
    padding-right: 38px;
}



// Navigation Button Icon
.btn-with-loading-spinner .navigation-button-icon {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.btn-with-loading-spinner .navigation-button-icon-left {
    margin-right: 8px;
}

.btn-with-loading-spinner .navigation-button-icon-right {
    margin-left: 8px;
}



// .btn-tertiary
.btn-tertiary:disabled {
    background-color: var(--Y300);
    border-color: var(--Y300);
    color: var(--N800);
}