// TODO: volver a poner maximumWarning en angular.json como estaba tras dividir esto en subcomponentes.




@import 'projects/web/src/styles.scss';

// Header Tag
header {
    background-color: white;
}



// Section Header
.section-header {
    margin-bottom: 16px;
}

.section-header > .container {
    display: flex;
}

// Section Header - Title
.section-header-title {
    flex: 1;

}

.section-header-title * {
    margin-bottom: 0;
}

// Section Header - Right Side
.section-header-right-side-container {
    display: flex;
    align-items: center;
}

// Section Header - Right Side - Carousel Icons
.section-header-carousel-icons {
    display: flex;
    align-items: center;
    gap: 4px;
}

// Section Header - Right Side - Link
.section-header-link-container a {
    @include body-14px-medium;

    color: var(--N600);
    text-decoration: none;
}



// Overlay Header
.overlay-header {
    padding-top: 48px;
    padding-bottom: 12px;
}

.overlay-header > .container {
    display: flex;
    justify-content: space-between;
}

.overlay-header-title {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-header-title * {
    margin-bottom: 0;
}

.overlay-header-close-icon {
    position: absolute;
    top: calc( var(--bs-gutter-x) / 2);
    right: calc( var(--bs-gutter-x) / 2);
}

// Overlay Header - Main Page
.overlay-header-main-page {
    position: relative;
}

.overlay-header-main-page::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--N300);
}

.overlay-header-main-page .overlay-header-left-icon-container {
    display: none;
}

.overlay-header-main-page .overlay-header-title * {
    @include heading-3;
}


// Overlay Header - Subpage
.overlay-header-subpage {
    position: relative;
}

.overlay-header-subpage::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--N300);
}

.overlay-header-subpage .overlay-header-title {
    padding-right: 20px;  /* Para compensar el icono izquierdo */
}

.overlay-header-subpage .overlay-header-title * {
    @include heading-4;
}


// Product Carousel
.featured-products-carrousel {

}

.featured-products-carrousel > .container {
    display: flex;
    gap: 24px;

    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.featured-products-carrousel > .container::-webkit-scrollbar {
    display: none;
}

// Product Card
.product-card {
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.product-card-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-image-container img {
    width: 100%;
    height: auto;
}

.product-card-manufacturer {
    @include body-12px-regular;   
}

.product-card-review {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

.product-card-review-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-review-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

.product-card-review-number-of-reviews {
    @include label-12px-regular;

    color: var(--N400);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-price {
    color: var(--N700);
}

// Product Card - Featured
.product-card-featured {
    min-width: 206px;
    width: 206px;

    // FIXME:
    background-color: var(--B300);
}

.product-card-featured .product-card-image-container {
    height: 197px;
}

.product-card-featured .product-card-name * {
    @include heading-4;
}

.product-card-featured .product-card-review {
    display: none;
}

.product-card-featured .product-card-price {
    margin-top: 16px;
}

// Product Card - Small
.product-card-small {
    background-color: var(--N100);
}

.product-card-small .product-card-image-container {
    height: 131px;
}

.product-card-small .product-card-name * {
    @include heading-5;
}

.product-card-small .product-card-manufacturer {
    display: none;
}

.product-card-small .product-card-price {
    margin-top: 8px;
    font-size: 14px;
}



// Product Page - Header Tag
header {
    background-color: transparent;
}

// Product Page - Overlay Header - Quitar borde inferior
body.product-page .overlay-header {
    // TODO:
    background-color: var(--B300);
}

body.product-page .overlay-header::after {
    height: 0;
}

// Product Page - Image
.product-image-and-three-sixty-indicator-container {
    height: 419px;
    padding-bottom: 19px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    // TODO:
    background-color: var(--B300);
}

.product-image-container {
    padding-bottom: 45px;
}

// Product Page - 360º Indicator
.three-sixty-indicator-container {
    position: absolute;
}

// Product Page - Manufacturer
.product-manufacturer {
    margin-bottom: 8px;

    @include body-14px-regular;
    
    color: var(--N600);
}

// Product Page - Description
.product-description-title {
    margin-bottom: 12px;

    @include heading-4;
}

.product-description-content {
    color: var(--N600);
}

.product-description-content .read-more {
    @include body-16px-medium;

    color: var(--N800);
}

// Product Page - Reviews
.product-reviews-title {
    margin-bottom: 24px;

    @include heading-4;
}

.product-reviews-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

// Product Page - Reviews - Review Item
.product-reviews-item {
    position: relative;
}

.product-reviews-list .product-reviews-item:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -24px;
    left: 0;

    height: 1px;
    background-color: var(--N300);
}

.product-reviews-item--title-ratings-container {
    margin-bottom: 8px;
    display: flex;
    align-items: stretch;
}

// Product Page - Reviews - Review Item - Title
.product-reviews-item--title {
    flex: 1;

    @include label-16px-medium;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.product-reviews-item--title * {
    margin-bottom: 0;

    @include label-16px-medium;
}

// Product Page - Reviews - Review Item - Rating
.product-reviews-item--rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-reviews-item--rating {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: white;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;

    color: var(--Y500);
}

.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
    letter-spacing: 3px; /* Espacio entre las estrellas */
}

.empty-stars:before {
    -webkit-text-stroke: 1px var(--Y500);
}

.full-stars:before {
    -webkit-text-stroke: 1px var(--Y500);
}

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
    .full-stars{
        color: #ECBE24;
    }
}

// Product Page - Reviews - Review Item - Date
.product-reviews-item--date {
    margin-bottom: 8px;

    @include body-12px-regular;

    color: var(--N400);
}

// Product Page - Reviews - Review Item - Content
.product-reviews-item--content {
    margin-bottom: 8px;

    @include body-14px-regular;
    
    color: var(--N600);
}

.product-reviews-item--content p:last-child {
    margin-bottom: 0;
}

// Product Page - Reviews - Review Item - Profile
.product-reviews-item--profile-container {
    display: flex;
    gap: 8px;
}

// Product Page - Reviews - Review Item - Profile Name
.product-reviews-item--profile-name {
    @include body-12px-medium;
    
    color: var(--N600);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Product Page - Reviews - Review Item - Profile Picture
.product-reviews-item--profile-picture {

}





// Footer
footer {
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.14));
}

// Footer - Navigation - Curve
.navigation-curve {
    height: 14px;
    // SVG Original: https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26585%3A3440&t=iNieEoyWN85WV0Jm-1
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 390 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M390 14C348.958 8.70732 291.146 2.04878 187.673 0C90.7093 1.41152 23.4854 10.7469 4.03296 13.4483C2.30944 13.6877 0.960944 13.8749 0 14H390Z' fill='%23F9D262'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
}

// Footer - Navigation - Navigation Separator
.navigation-separator {
    position: relative;
    width: calc(100% - 24px);
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-separator::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: var(--Y300);
    opacity: 0.5;
}

// Footer - Navigation - Navigation CTAs & Copy
.navigation-ctas-and-copy-container {
    background-color: var(--Y500);
}

.navigation-ctas-and-copy {
    padding-top: 6px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navigation-button-right-container {
    flex: 1;
}

.navigation-ctas-and-copy-container button {
    width: 100%;
    height: 100%;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-ctas-and-copy-container button .navigation-button-icon {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.navigation-ctas-and-copy-container button .navigation-button-icon-left {
    margin-right: 8px;
}

.navigation-ctas-and-copy-container button .navigation-button-icon-right {
    margin-left: 8px;
}

.navigation-copy-label {
    font-size: 12px;
    white-space: nowrap;
}

.navigation-copy-text {
    font-size: 20px;
    font-weight: bold;
}

// Footer - Navigation - Navigation Items
.navigation-items {
    padding: 12px 10px;
    background-color: var(--Y500);
    display: flex;
    justify-content: space-between;
}

.navigation-item {
    flex: 1;
}

.navigation-item a {
    width: 100%;
    color: var(--N900);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-icon-container {
    margin-bottom: 4px;
}

.navigation-text {
    font-size: 14px;
}

.navigation-item:not(.navigation-item--active) {
    opacity: 50%;
}