<!-- Header Tag -->
<app-header
    [headerTagType] = "'home-hero'"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(var(--footer-altura-sin-navigation-ctas-and-copy) + var(--espacio-vertical));">

    <!-- Home - Featured Products -->
    <div class="section" *ngIf="featuredProducts.length != 0">

        <!-- Section Header -->
        <app-section-header
            [sectionHeaderTitleTag]      = "'h2'"
            [sectionHeaderTitleClass]    = "'heading-3'"
            [sectionHeaderTitleText]     = "'Featured'"
            [sectionHeaderCarouselIcons] = "true"
            [sectionHeaderLink]          = "false"
            [sectionHeaderLinkURL]       = "''"
            [sectionHeaderLinkText]      = "''"
            [sectionHeaderButton]        = "false"
            [sectionHeaderButtonURL]     = "''"
            [sectionHeaderButtonText]    = "''"
        ></app-section-header>
        
        <!-- Featured Products Carrousel -->
        <app-featured-products-carrousel
            [featuredProductsList] = "featuredProducts"
        ></app-featured-products-carrousel>

    </div>

    <!-- Home - Deals Products -->
    <div class="section" *ngIf="dealProducts.length != 0">
        
        <!-- Section Header -->
        <app-section-header
            [sectionHeaderTitleTag]      = "'h2'"
            [sectionHeaderTitleClass]    = "'heading-4'"
            [sectionHeaderTitleText]     = "'Deals'"
            [sectionHeaderCarouselIcons] = "false"
            [sectionHeaderLink]          = "false"
            [sectionHeaderLinkURL]       = "''"
            [sectionHeaderLinkText]      = "''"
            [sectionHeaderButton]        = "false"
            [sectionHeaderButtonURL]     = "''"
            [sectionHeaderButtonText]    = "''"
        ></app-section-header>

        <!-- Deals Products (Products Grid) -->
        <div class="container">
            <app-products-grid
                [productsList] = "dealProducts"
                [productCardProductNameTitleHeadingTag] = "'h3'"
            ></app-products-grid>
        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer
    [navigationShowCtasAndCopy] = "false"
    [navigationCopyLabel]   = "''"
    [navigationCopyPrice]   = "''"
    [navigationButtonRightText] = "''"
></app-footer>