// TODO: volver a poner maximumWarning en angular.json como estaba tras dividir esto en subcomponentes.

@use 'styles' as *; // Relative to "projects/web/src" because of angular.json > projects.web.architect.build.options.stylePreprocessorOptions.includePaths
