<!-- Header Tag -->
<app-header></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(83px + 32px);">
    <!-- <main class="d-none" role="main" style="padding-top: 0; padding-bottom: 32px;"> --> <!-- Product Page -->
    <!-- <main role="main" style="padding-top: 116px; padding-bottom: calc(73px + 32px);"> --> <!-- Home Page old -->

    <!-- Home - Featured Products -->
    <div class="section">

        <!-- Section Header -->
        <app-section-header
            [sectionHeaderTitleTag]      = "'h2'"
            [sectionHeaderTitleClass]    = "'heading-3'"
            [sectionHeaderTitleText]     = "'Featured'"
            [sectionHeaderCarouselIcons] = "true"
            [sectionHeaderLink]          = "false"
            [sectionHeaderLinkURL]       = "''"
            [sectionHeaderLinkText]      = "''"
            [sectionHeaderButton]        = "false"
            [sectionHeaderButtonURL]     = "''"
            [sectionHeaderButtonText]    = "''"
        ></app-section-header>
        
        <!-- Featured Products Carrousel -->
        <div class="featured-products-carrousel">
            <div class="container">

                <!-- Product Card -->
                <app-product-card
                    *ngFor="let nombre_individual of featured_products_list"
                    [productCardTypeClass] = "'product-card-featured'"
                ></app-product-card>
                
            </div>

        </div>

    </div>

    <!-- Home - Deals Products -->
    <div class="section">
        
        <!-- Section Header -->
        <app-section-header
            [sectionHeaderTitleTag]      = "'h2'"
            [sectionHeaderTitleClass]    = "'heading-4'"
            [sectionHeaderTitleText]     = "'Deals'"
            [sectionHeaderCarouselIcons] = "false"
            [sectionHeaderLink]          = "false"
            [sectionHeaderLinkURL]       = "''"
            [sectionHeaderLinkText]      = "''"
            [sectionHeaderButton]        = "false"
            [sectionHeaderButtonURL]     = "''"
            [sectionHeaderButtonText]    = "''"
        ></app-section-header>

        <!-- Deals Products -->
        <div class="container">
            <div class="row">
            <div class="col-6">

                <!-- Product Card -->
                <app-product-card
                    [productCardTypeClass] = "'product-card-small'"
                ></app-product-card>

            </div>
            <div class="col-6">

                <!-- Product Card -->
                <app-product-card
                    [productCardTypeClass] = "'product-card-small'"
                ></app-product-card>

            </div>
            </div>
        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer
    [navigationCtasAndCopy] = "false"
    [navigationCopyLabel]   = "''"
    [navigationCopyPrice]   = "''"
    [navigationButtonRightText] = "''"
></app-footer>