// TODO: volver a poner maximumWarning en angular.json como estaba tras dividir esto en subcomponentes.




@import 'projects/web/src/styles.scss';



// Product Carousel
.featured-products-carrousel {

}

.featured-products-carrousel > .container {
    display: flex;
    gap: 24px;

    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.featured-products-carrousel > .container::-webkit-scrollbar {
    display: none;
}

// Product Card
.product-card {
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.product-card-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-image-container img {
    width: 100%;
    height: auto;
}

.product-card-manufacturer {
    @include body-12px-regular;   
}

.product-card-review {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

.product-card-review-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-review-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

.product-card-review-number-of-reviews {
    @include label-12px-regular;

    color: var(--N400);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-price {
    color: var(--N700);
}

// Product Card - Featured
.product-card-featured {
    min-width: 206px;
    width: 206px;

    // FIXME:
    background-color: var(--B300);
}

.product-card-featured .product-card-image-container {
    height: 197px;
}

.product-card-featured .product-card-name * {
    @include heading-4;
}

.product-card-featured .product-card-review {
    display: none;
}

.product-card-featured .product-card-price {
    margin-top: 16px;
}

// Product Card - Small
.product-card-small {
    background-color: var(--N100);
}

.product-card-small .product-card-image-container {
    height: 131px;
}

.product-card-small .product-card-name * {
    @include heading-5;
}

.product-card-small .product-card-manufacturer {
    display: none;
}

.product-card-small .product-card-price {
    margin-top: 8px;
    font-size: 14px;
}



// Product Page - Header Tag
header {
    background-color: transparent;
}

// Product Page - Overlay Header - Quitar borde inferior
body.product-page .overlay-header {
    // TODO:
    background-color: var(--B300);
}

body.product-page .overlay-header::after {
    height: 0;
}

// Product Page - Image
.product-image-and-three-sixty-indicator-container {
    height: 419px;
    padding-bottom: 19px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    // TODO:
    background-color: var(--B300);
}

.product-image-container {
    padding-bottom: 45px;
}

// Product Page - 360º Indicator
.three-sixty-indicator-container {
    position: absolute;
}

// Product Page - Manufacturer
.product-manufacturer {
    margin-bottom: 8px;

    @include body-14px-regular;
    
    color: var(--N600);
}

// Product Page - Description
.product-description-title {
    margin-bottom: 12px;

    @include heading-4;
}

.product-description-content {
    color: var(--N600);
}

.product-description-content .read-more {
    @include body-16px-medium;

    color: var(--N800);
}

// Product Page - Reviews
.product-reviews-title {
    margin-bottom: 24px;

    @include heading-4;
}

.product-reviews-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

// Product Page - Reviews - Review Item
.product-reviews-item {
    position: relative;
}

.product-reviews-list .product-reviews-item:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -24px;
    left: 0;

    height: 1px;
    background-color: var(--N300);
}

.product-reviews-item--title-ratings-container {
    margin-bottom: 8px;
    display: flex;
    align-items: stretch;
}

// Product Page - Reviews - Review Item - Title
.product-reviews-item--title {
    flex: 1;

    @include label-16px-medium;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.product-reviews-item--title * {
    margin-bottom: 0;

    @include label-16px-medium;
}

// Product Page - Reviews - Review Item - Rating
.product-reviews-item--rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-reviews-item--rating {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: white;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;

    color: var(--Y500);
}

.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
    letter-spacing: 3px; /* Espacio entre las estrellas */
}

.empty-stars:before {
    -webkit-text-stroke: 1px var(--Y500);
}

.full-stars:before {
    -webkit-text-stroke: 1px var(--Y500);
}

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
    .full-stars{
        color: #ECBE24;
    }
}

// Product Page - Reviews - Review Item - Date
.product-reviews-item--date {
    margin-bottom: 8px;

    @include body-12px-regular;

    color: var(--N400);
}

// Product Page - Reviews - Review Item - Content
.product-reviews-item--content {
    margin-bottom: 8px;

    @include body-14px-regular;
    
    color: var(--N600);
}

.product-reviews-item--content p:last-child {
    margin-bottom: 0;
}

// Product Page - Reviews - Review Item - Profile
.product-reviews-item--profile-container {
    display: flex;
    gap: 8px;
}

// Product Page - Reviews - Review Item - Profile Name
.product-reviews-item--profile-name {
    @include body-12px-medium;
    
    color: var(--N600);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Product Page - Reviews - Review Item - Profile Picture
.product-reviews-item--profile-picture {

}