// Loading Screen - Imágenes
.contenedor-imagenes-productos {
    flex: 1;
    position: relative;
    width: 100%;
}

.segundo-contenedor-imagenes-productos {
    padding-bottom: var(--espacio-vertical);
}

.imagen-con-blur-contenedor {
    position: absolute;
}

.imagen-con-blur-contenedor-interno {
    position: relative;
}

.imagen-con-blur-contenedor img {
    position: absolute;
}

.imagen-con-blur {
    opacity: 0.5;
    filter: blur(37.5px);
}



// Loading Screen - Imágenes - Animaciones
@keyframes animacion-slide-in-from-top {

    0% {
        /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
        opacity: 1;
        transform: translateY(0);
    }

}

.slide-in-from-top {
    animation-name: animacion-slide-in-from-top;
    animation-duration: 1600ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    animation-fill-mode: backwards;
}

@keyframes animacion-slide-in-from-bottom {

    0% {
        /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
        opacity: 1;
        transform: translateY(0);
    }

}

.slide-in-from-bottom {
    // opacity: 0;
    animation-name: animacion-slide-in-from-bottom;
    animation-duration: 1600ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    animation-fill-mode: backwards;
}

.delay-1 {
    animation-delay: 500ms;
}

.delay-2 {
    animation-delay: 700ms;
}



// Loading Screen - "Let's begin" button
.lets-begin-button:disabled {
    background-color: var(--Y300);
    border-color: transparent;
    opacity: unset;
}

// Loading Screen - "Let's begin" button - Animation
@keyframes animacion-lets-begin-button {

    0% {
        /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
        opacity: 0;
    }

    100% {
        /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
        opacity: 1;
    }

}

.lets-begin-button-animation {
    animation-name: animacion-lets-begin-button;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    animation-fill-mode: both;
    // animation-delay: 2100ms;
}



// Loading Screen - Spinner
// .spinner {
//     position: absolute;
//     bottom: 0;
//     max-width: 79px;
// }
// @keyframes animacion-spinner-delay {

//     0% {
//         /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
//         opacity: 0;
//     }

//     100% {
//         /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
//         opacity: 1;
//     }

// }

// .spinner-delay {
//     animation-name: animacion-spinner-delay;
//     animation-duration: 500ms;
//     animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
//     animation-fill-mode: backwards;
//     animation-delay: 2100ms;
// }