@use '../../../../../../styles.scss' as *;

// Categories Page

// Variables
#categories-lists {
    --espaciado-categories-cards: 16px;
}

// Categories Lists
#categories-lists {
    display: flex;
    gap: var(--espaciado-categories-cards);
}

// Categories List
.categories-list {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--espaciado-categories-cards);
}
