/* You can add global styles to this file, and also import other style files */



/***** Fuentes: Inter y Lora *****/
/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJMkq1umA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJFkq1umA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJOkq1umA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJPkq1umA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkq0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}










/***** Variables SASS de Bootstrap personalizadas *****/
// Documentación: https://getbootstrap.com/docs/5.2/customize/sass/



// Fuente
// TODO: ¿aplicar corrección a gat?
:root {
    --bs-body-font-family: 'Inter', sans-serif;
}



// Colores - Figma (https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26580%3A3219&t=TV10VERMzpcsCB7c-1)
:root {

    // Colores - Figma - Primary
    --Y500: #F9D262;
    --Y300: #FFE8B2;
    --Y100: #FFF8EF;

    // Colores - Figma - Neutral
    --N900: #1F2223;
    --N800: #363939;
    --N700: #57595A;
    --N600: #797A7B;
    --N500: #8E9090;
    --N400: #B1B2B2;
    --N300: #D2D3D3;
    --N200: #EAEAEA;
    --N100: #F6F6F6;

    // Colores - Figma - Green
    --G500: #B4D479;
    --G300: #D8E4C2;
    --G100: #EEF2E5;
    
    // Colores - Figma - Red
    --R500: #EA8389;
    --R300: #E2BDBF;
    --R100: #F3E6E7;
    
    
    // Colores - Figma - Blue
    --B500: #81B5E9;
    --B300: #C1D3E5;
    --B100: #E6EEF5;
    
    
    // Colores - Figma - Purple
    --P500: #DEAAEF;
    --P300: #E7D1EE;
    --P100: #F6EFF8;

}



// Colores - Body
$body-color-rgb: 54 57 57;
$body-color: var(--N800);
:root {
    --bs-body-color-rgb: $body-color-rgb;
    --bs-body-color: $body-color;
    color: $body-color;
}



// Espaciado - Espaciado lateral
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 40px;
}



// Botones
.btn-outline-secondary {
    --bs-btn-color: var(--N800);
    --bs-btn-border-color: var(--N800);
}

.btn-lg, .btn-group-lg > .btn {
    --bs-btn-font-size: 1rem;
}










/***** SCSS de toda la aplicación *****/


  
// Sticky Footer
// TODO: aplicar esta corrección a gulp-amp-template
html,
body,
app-root {
    height: 100%;
}

body {
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}



// FIXME: Bloquear la orientación horizontal
/* @media screen and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
} */



// Contenedor solo móvil
#contenedor-solo-movil {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 930px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
}



// Spinner
.spinner {
    position: absolute;
    bottom: 0;
    max-width: 79px;
}

@keyframes animacion-spinner-delay {

    0% {
        /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
        opacity: 0;
    }

    100% {
        /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
        opacity: 1;
    }

}

.spinner-delay {
    animation-name: animacion-spinner-delay;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    animation-fill-mode: backwards;
    animation-delay: 2100ms;
}



// Pantalla inicial de carga - Imágenes
.contenedor-imagenes-productos {
    flex: 1;
    position: relative;
    width: 100%;
}

.imagen-con-blur-contenedor {
    position: absolute;
}

.imagen-con-blur-contenedor-interno {
    position: relative;
}

.imagen-con-blur-contenedor img {
    position: absolute;
}

.imagen-con-blur {
    opacity: 0.5;
    filter: blur(37.5px);
}



// Pantalla inicial de carga - Imágenes - Animaciones
@keyframes animacion-slide-in-from-top {

    0% {
        /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
        opacity: 1;
        transform: translateY(0);
    }

}

.slide-in-from-top {
    animation-name: animacion-slide-in-from-top;
    animation-duration: 1600ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    animation-fill-mode: backwards;
}

@keyframes animacion-slide-in-from-bottom {

    0% {
        /* Propiedades CSS del estado (keyframe) inicial (normales o transforms) */
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        /* Propiedades CSS del estado (keyframe) final (normales o transforms) */
        opacity: 1;
        transform: translateY(0);
    }

}

.slide-in-from-bottom {
    // opacity: 0;
    animation-name: animacion-slide-in-from-bottom;
    animation-duration: 1600ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    animation-fill-mode: backwards;
}

.delay-1 {
    animation-delay: 500ms;
}

.delay-2 {
    animation-delay: 700ms;
}



// Footer
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

// Footer - Navigation - Curve
.navigation-curve {
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 390 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M390 14C348.958 8.70732 291.146 2.04878 187.673 0C90.7093 1.41152 23.4854 10.7469 4.03296 13.4483C2.30944 13.6877 0.960944 13.8749 0 14H390Z' fill='%23F9D262'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    // border-top-right-radius: 100% 100%;
    // border-top-left-radius: 100% 100%;
    // background-color: var(--Y500);
}

// Footer - Navigation - Navigation CTAs & Copy
.navigation-ctas-and-copy-container {
    background-color: var(--Y500);
}

.navigation-ctas-and-copy {
    padding-top: 6px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navigation-button-right-container {
    flex: 1;
}

.navigation-ctas-and-copy-container button {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.navigation-copy-label {
    font-size: 12px;
}

.navigation-copy-text {
    font-size: 20px;
    font-weight: bold;
}

// Footer - Navigation - Navigation Items
.navigation-items {
    padding: 12px 10px;
    background-color: var(--Y500);
    display: flex;
    justify-content: space-between;
}

.navigation-item {
    flex: 1;
}

.navigation-item a {
    width: 100%;
    color: var(--N900);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-icon-container {
    margin-bottom: 4px;
}

.navigation-text {
    font-size: 14px;
}

.navigation-item:not(.navigation-item--active) {
    opacity: 50%;
}
