/* You can add global styles to this file, and also import other style files */



/***** Fuentes: Inter y Lora *****/
/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJMkq1umA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJFkq1umA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJOkq1umA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJPkq1umA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvBJBkq0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}










/***** Variables SASS de Bootstrap personalizadas *****/
// Documentación: https://getbootstrap.com/docs/5.2/customize/sass/



// Fuente
// TODO: ¿aplicar corrección a gat?
:root {
    --bs-body-font-family: 'Inter', sans-serif;
}



// Typography - Headings - Figma (https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26580%3A3219&t=TV10VERMzpcsCB7c-1)
@mixin heading-1 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
}

.heading-1 {
    @include heading-1;
}


@mixin heading-2 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
}

.heading-2 {
    @include heading-2;
}


@mixin heading-3 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
}

.heading-3 {
    @include heading-3;
}


@mixin heading-4 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
}

.heading-4 {
    @include heading-4;
}


@mixin heading-5 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
}

.heading-5 {
    @include heading-5;
}



// Typography - Body - Figma (https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26580%3A3219&t=TV10VERMzpcsCB7c-1)
@mixin body-16px-regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.body-16px-regular {
    @include body-16px-regular;
}


@mixin body-16px-medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.body-16px-medium {
    @include body-16px-medium;
}


@mixin body-14px-regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.body-14px-regular {
    @include body-14px-regular;
}


@mixin body-14px-medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.body-14px-medium {
    @include body-14px-medium;
}


@mixin body-12px-regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.body-12px-regular {
    @include body-12px-regular;
}


@mixin body-12px-medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
}

.body-12px-medium {
    @include body-12px-medium;
}



// Typography - Labels - Figma (https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26580%3A3219&t=TV10VERMzpcsCB7c-1)
@mixin label-20px-regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}

.label-20px-regular {
    @include label-20px-regular;
}


@mixin label-20px-semi-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
}

.label-20px-semi-bold {
    @include label-20px-semi-bold;
}


@mixin label-16px-medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
}

.label-16px-medium {
    @include label-16px-medium;
}


@mixin label-16px-semi-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

.label-16px-semi-bold {
    @include label-16px-semi-bold;
}


@mixin label-14px-medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
}

.label-14px-medium {
    @include label-14px-medium;
}


@mixin label-14px-semi-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
}

.label-14px-semi-bold {
    @include label-14px-semi-bold;
}


@mixin label-12px-medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
}

.label-12px-medium {
    @include label-12px-medium;
}


@mixin label-12px-semi-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
}

.label-12px-semi-bold {
    @include label-12px-semi-bold;
}



// Colores - Figma (https://www.figma.com/file/nfPBt33VefgiNGebDKgrhf/Online-Store-(V2.1)?node-id=26580%3A3219&t=TV10VERMzpcsCB7c-1)
:root {

    // Colores - Figma - Primary
    --Y500: #F9D262;
    --Y300: #FFE8B2;
    --Y100: #FFF8EF;

    // Colores - Figma - Neutral
    --N900: #1F2223;
    --N800: #363939;
    --N700: #57595A;
    --N600: #797A7B;
    --N500: #8E9090;
    --N400: #B1B2B2;
    --N300: #D2D3D3;
    --N200: #EAEAEA;
    --N100: #F6F6F6;

    // Colores - Figma - Green
    --G500: #B4D479;
    --G300: #D8E4C2;
    --G100: #EEF2E5;
    
    // Colores - Figma - Red
    --R500: #EA8389;
    --R300: #E2BDBF;
    --R100: #F3E6E7;
    
    
    // Colores - Figma - Blue
    --B500: #81B5E9;
    --B300: #C1D3E5;
    --B100: #E6EEF5;
    
    
    // Colores - Figma - Purple
    --P500: #DEAAEF;
    --P300: #E7D1EE;
    --P100: #F6EFF8;
    
    // Colores - Figma - Orange
    --O500: #C84C0E;
    // --O500: #D68F26; // (Antiguo) No tiene suficiente contraste sobre fondo blanco

}

.color-N700 {
    color: var(--N700);
}



// Colores - Body
$body-color-rgb: 54 57 57;
$body-color: var(--N800);
:root {
    --bs-body-color-rgb: $body-color-rgb;
    --bs-body-color: $body-color;
    color: $body-color;
}



// Espaciado - Espaciado lateral
:root,
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 40px;
}



// Espaciado - Espaciado vertical
:root {
    --espacio-vertical: 32px;
}


// Secciones
.section {
    padding-top: var(--espacio-vertical); 
}

// Secciones - Separador inferior
.section-with-bottom-separator {
    position: relative;
    
    padding-bottom: var(--espacio-vertical); 
}

.section-with-bottom-separator::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;

    width: calc(100% - 40px);
    transform: translateX(-50%);

    height: 1px;
    background-color: var(--N300);
}



// Botones
.btn:hover {
    opacity: 0.9;
}

// Botones - Primary
.btn-primary {
    --bs-btn-bg: var(--N800);
    --bs-btn-border-color: var(--N800);
    --bs-btn-hover-bg: var(--N800);
    --bs-btn-hover-border-color: var(--N800);
    --bs-btn-active-bg: var(--N800);
    --bs-btn-active-border-color: var(--N800);
    --bs-btn-disabled-bg: var(--N800);
    --bs-btn-disabled-border-color: var(--N800);
}

.btn-primary:hover {
    background-color: var(--N800);
    border-color: var(--N800);
    opacity: 0.9;
}

// Botones - Outline Secondary
.btn-outline-secondary {
    --bs-btn-color: var(--N800);
    --bs-btn-border-color: var(--N800);
}

// Botones - Tertiary
.btn-tertiary {
    background-color: var(--Y300);

    @include body-16px-medium;

    color: var(--N800);
}

.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:focus-visible {
    background-color: var(--Y300) !important;
    border-color: var(--Y300) !important;
    color: var(--N800) !important;
}



// Botones - Large
.btn-lg,
.btn-group-lg > .btn {
    --bs-btn-font-size: 1rem;
}



// Cards
:root {
    --card-border-radius: 10px;
    --space-between-cards: 16px;
}



// Footer
:root {
    --footer-altura-sin-navigation-ctas-and-copy: 87px;
    --footer-altura-con-navigation-ctas-and-copy-btn-lg: 149px;
    --footer-altura-con-navigation-ctas-and-copy-btn-sm: 137px;
}







/***** SCSS de toda la aplicación *****/


  
// Font Weight (que no están en Bootstrap)
.font-weight-500 {
    font-weight: 500;
}



// Sticky Footer
// TODO: aplicar esta corrección a gulp-amp-template
html,
body,
app-root {
    height: 100%;
}

body {
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: var(--espacio-vertical);
}



// Disable Text Selection
body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}



// Prevent scroll
.prevent-scroll {
    overflow: hidden;
}



// App Loading Screen Tag - Clases for <router-outlet>
.app-loading-screen-classes-for-router-outlet {
    flex: 1;
}



// Varias Pages - Clases for <router-outlet>
.app-categories-classes-for-router-outlet,
.app-category-classes-for-router-outlet,
.app-category-detail-classes-for-router-outlet,
.app-cart-classes-for-router-outlet,
.app-orders-classes-for-router-outlet,
.app-addresses-classes-for-router-outlet,
.app-payment-methods-classes-for-router-outlet {
    flex: 1;

    display: flex;
    flex-direction: column;
}



// FooterComponent
app-footer {
    position: fixed;
    
    left: 50%;
    transform: translateX(-50%);

    bottom: 0;
    
    width: 100%;
    max-width: var(--ancho-contenedor-solo-movil);
}



// SVG Icons
svg-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// Illustrations
.illustration-and-content-container {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.illustration-container {
    flex: 1;

    padding-top: var(--espacio-vertical);
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    padding-top: var(--espacio-vertical);
}

.empty-text {
    text-align: center;
}



// TODO: ¿mover a su propio componente en SharedModule?
// Orders List
.orders-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-cards);
}