<!-- Addresses Page -->



<!-- Header Tag -->
<app-header
    [headerTagType] = "'overlay-header-subpage'"
    [overlayHeaderPageTitle] = "'Delivery addresses'"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(var(--footer-altura-con-navigation-ctas-and-copy-btn-sm) + var(--espacio-vertical));">

    <!-- TODO: borrar -->
    <div class="my-3">
        <button type="button" class="btn-outline-secondary btn-sm" (click)="showBottomOverlay = true;">Abrir Bottom Overlay</button>
    </div>

    <div class="illustration-and-content-container">

        <div class="illustration-container">
            [Illustration]
        </div>

        <div class="content-container">

            <!-- Addresses List -->
            <div class="cart-checkout-product-card-container" *ngIf="(numberOfAddresses > 0)">
                
                <div class="section">
                    <div class="container">
            
                        <!-- Address Card List -->
                        <div class="address-card-list">
            
                            <!-- Address Card -->
                            <app-address-card
                                [addressCardSelected]   = "false"
                                [addressCardPersonName] = "'Leslie Flores'"
                                [addressCardAddress]    = "'2972 Westheimer Rd. '"
                                [addressCardPostalCode] = "'85486'"
                                [addressCardCity]       = "'Santa Ana, Illinois '"
                                [addressCardCountry]    = "'United States of America'"
                                [addressCardShowButton] = "true"
                            ></app-address-card>
            
                            <!-- Address Card -->
                            <app-address-card
                                [addressCardSelected]   = "true"
                                [addressCardPersonName] = "'Leslie Flores'"
                                [addressCardAddress]    = "'2972 Westheimer Rd. '"
                                [addressCardPostalCode] = "'85486'"
                                [addressCardCity]       = "'Santa Ana, Illinois '"
                                [addressCardCountry]    = "'United States of America'"
                                [addressCardShowButton] = "true"
                            ></app-address-card>
            
                            <!-- Address Card -->
                            <app-address-card
                                [addressCardSelected]   = "false"
                                [addressCardPersonName] = "'Leslie Flores'"
                                [addressCardAddress]    = "'2972 Westheimer Rd. '"
                                [addressCardPostalCode] = "'85486'"
                                [addressCardCity]       = "'Santa Ana, Illinois '"
                                [addressCardCountry]    = "'United States of America'"
                                [addressCardShowButton] = "true"
                            ></app-address-card>
            
                        </div>
            
                    </div>
                </div>
                
            </div>

            <div class="empty-text container" *ngIf="(numberOfAddresses == 0)">There is no delivery address yet.</div>
            
        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer
    [navigationShowCtasAndCopy]              = "true"
    [navigationShowCopy]                     = "false"
    [navigationCopyLabel]                    = "''"
    [navigationCopyPrice]                    = "'79,99 €'"
    [navigationButtonRightText]              = "'Add new address'"
    [navigationButtonRightClasses]           = "'btn-outline-secondary btn-sm'"
    [navigationShowButtonRightRightIcon]     = "true"
    [navigationShowButtonRightRightIconType] = "'plus'"
></app-footer>



<!-- Bottom Overlay -->
<app-bottom-overlay
    *ngIf="showBottomOverlay"
    (clickOnCerrarBottomOverlayBtnEventEmitter)="showBottomOverlay = false;"
    [bottomOverlayTitle]         = "'Add new delivery address'"
    [bottomOverlayAddButtonText] = "'Add address'"
></app-bottom-overlay>