<!-- Addresses Page -->

<!-- Header Tag -->
@if (!showBottomOverlay) {
    <app-header
        [headerTagType]="'overlay-header-subpage'"
        [overlayHeaderPageTitle]="'Delivery addresses'"
    ></app-header>
}

<!-- Main -->
<!-- <main role="main" style="padding-bottom: var(--espacio-vertical);"> -->
@if (!showBottomOverlay) {
    <main
        role="main"
        style="
            padding-top: var(--header-altura-overlay-header-subpage);
            padding-bottom: calc(
                var(--footer-altura-con-navigation-ctas-and-copy-btn-sm) + var(--espacio-vertical)
            );
        "
    >
        <div class="illustration-and-content-container">
            <div class="illustration-container">
                <!-- [Illustration] -->
            </div>
            <div class="content-container">
                <!-- Addresses List -->
                @if (addresses.length > 0) {
                    <div class="cart-checkout-product-card-container">
                        <div class="section">
                            <div class="container">
                                <!-- Address Card List -->
                                <div class="address-card-list">
                                    <!-- Address Card -->
                                    <!-- FIXME: mostrar primero las últimas addresses añadidas -->
                                    @for (address of addresses; track address) {
                                        <app-address-card
                                            [addressCardIsDefault]="1"
                                            [addressCardFullName]="address.fullName"
                                            [addressCardAddress]="address.address"
                                            [addressCardPostalCode]="address.postalCode"
                                            [addressCardCity]="address.city"
                                            [addressCardCountry]="address.country"
                                            [addressCardShowButton]="false"
                                        ></app-address-card>
                                    }
                                    <!-- TODO: Añadir la opción de cambiar la Address por defecto -->
                                    <!-- Ejemplo:
                  [addressCardFullName] = "'Leslie Flores'"
                  [addressCardAddress]    = "'2972 Westheimer Rd. '"
                  [addressCardPostalCode] = "'85486'"
                  [addressCardCity]       = "'Santa Ana, Illinois '"
                  [addressCardCountry]    = "'United States of America'"
                  -->
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (addresses.length === 0) {
                    <div class="empty-text container">There is no delivery address yet.</div>
                }
            </div>
        </div>
    </main>
}

<!-- Footer Tag -->
@if (!showBottomOverlay) {
    <app-footer
        [navigationShowCtasAndCopy]="true"
        [navigationShowCopy]="false"
        [navigationButtonRightText]="'Add new address'"
        [navigationButtonRightClasses]="'btn btn-outline-secondary btn-sm'"
        [navigationShowButtonRightRightIcon]="true"
        [navigationShowButtonRightRightIconType]="'plus'"
    ></app-footer>
}

<!-- Bottom Overlay -->
@if (showBottomOverlay) {
    <app-bottom-overlay
        [bottomOverlayTitle]="'Add new delivery address'"
        [bottomOverlayAddButtonText]="'Add address'"
        [bottomOverlayBodyContent]="'ADD_NEW_ADDRESS'"
    ></app-bottom-overlay>
}
