<!-- Payment Methods Page -->



<!-- Header Tag -->
<app-header
    [headerTagType] = "'overlay-header-subpage'"
    [overlayHeaderPageTitle] = "'Payment Methods'"
></app-header>
    
<!-- Main -->
<main role="main" style="padding-bottom: calc(var(--footer-altura-sin-navigation-ctas-and-copy) + var(--espacio-vertical));">

    <div class="illustration-and-content-container">

        <div class="illustration-container">
            [Illustration]
        </div>

        <div class="content-container">

            <!-- Payment Method List -->
            <div class="section" *ngIf="(numberOfPaymentMethods > 0)">
                <div class="container">
        
                    <!-- Payment Method Card List -->
                    <div class="payment-method-card-list">
        
                        <!-- Payment Method -->
                        <app-credit-card
                            [cardSelected]         = "true"
                            [cardType]             = "'mastercard'"
                            [cardBankName]         = "'Bank of America'"
                            [cardPersonFullName]   = "'Leslie Flores'"
                            [cardLastFourNumbers]  = "'0817'"
                            [cardExpirationMonth]  = "'12'"
                            [cardExpirationYear]   = "'25'"
                            [creditCardShowButton] = "true"
                        ></app-credit-card>
        
                        <!-- Payment Method -->
                        <app-credit-card
                            [cardSelected]         = "false"
                            [cardType]             = "'visa'"
                            [cardBankName]         = "'Goldman Sachs'"
                            [cardPersonFullName]   = "'Joseph Simon'"
                            [cardLastFourNumbers]  = "'8406'"
                            [cardExpirationMonth]  = "'12'"
                            [cardExpirationYear]   = "'25'"
                            [creditCardShowButton] = "true"
                        ></app-credit-card>
        
                        <!-- Payment Method -->
                        <app-credit-card
                            [cardSelected]         = "false"
                            [cardType]             = "'mastercard'"
                            [cardBankName]         = "'Bank of America'"
                            [cardPersonFullName]   = "'Leslie Flores'"
                            [cardLastFourNumbers]  = "'0817'"
                            [cardExpirationMonth]  = "'12'"
                            [cardExpirationYear]   = "'25'"
                            [creditCardShowButton] = "true"
                        ></app-credit-card>
        
                    </div>
        
                </div>
            </div>

            <div class="empty-text container" *ngIf="(numberOfPaymentMethods == 0)">There is no payment method yet.</div>
            
        </div>

    </div>

</main>
  
<!-- Footer Tag -->
<app-footer></app-footer>